# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
env.bak/
.env

# Databases & local logs
data/*.db
*.log

# Operating System Files
.DS_Store
Thumbs.db
